<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assigmentandroidnc">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/education"
        android:label="@string/app_name"
        android:roundIcon="@drawable/education"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTheme">
        <activity android:name=".course.UpdateKHActivity" android:noHistory="true"></activity>
        <activity android:name=".course.RegistrationActivity" />
        <activity android:name=".news.LoadWedActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".course.CourseActivity"
            android:noHistory="true" />
        <activity android:name=".social.SocialActivity" />
        <activity android:name=".maps.MapsActivity" />
        <activity android:name=".news.NewsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
    </application>

</manifest>